.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.App-link {
  color: #61dafb;
}

.event-title {
  margin-top: 3%;
  margin-bottom: 3%;
}

.event-amount,
.event-amount-init {
  color: #ffea00;
  background-image: linear-gradient(
    -200deg,
    #e3f258 0%,
    #ff8d60 29%,
    #e34b21 65%,
    #e3f258 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.8s linear infinite;
  display: inline-block;
}

.event-amount-initComment {
  color: #e29e22;
}

/* Button CSS */
.buttonGroup {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}

/* Increase button css */
.button-increase {
  appearance: none;
  height: 3em;
  width: 10em;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-increase:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-increase:hover {
  background-color: #2c974b;
}

.button-increase:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-increase:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-increase:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Decrease button css */
.button-decrease {
  appearance: none;
  height: 3em;
  width: 10em;
  background-color: #a4302e;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-decrease:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-decrease:hover {
  background-color: #97382c;
}

.button-decrease:focus {
  box-shadow: rgba(164, 48, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.button-decrease:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-decrease:active {
  background-color: #8e2b29;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Apply button css */
.button-apply {
  appearance: none;
  height: 2em;
  width: 8em;
  background-color: #2e83a4;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.button-apply:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-apply:hover {
  background-color: #2c978e;
}

.button-apply:focus {
  box-shadow: rgba(46, 154, 164, 0.4) 0 0 0 3px;
  outline: none;
}

.button-apply:disabled {
  background-color: #94d3d3;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-apply:active {
  background-color: #298e89;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

@media (min-width: 768px) {
  .event-title {
    font-size: calc(1rem + ((1vw - 0.48em) * 8.3333));
  }
  .event-amount-comment {
    font-size: calc(2rem + ((1vw - 0.48em) * 8.3333));
  }
  .event-amount-initComment {
    font-size: calc(2rem + ((1vw - 0.48em) * 7.3333));
  }
  .event-amount-init {
    font-size: calc(2rem + ((1vw - 0.48em) * 7.3333));
  }
  .event-amount {
    font-size: calc(5rem + ((1vw - 7.68px) * 22.7778));
  }

  .button-increase,
  .button-decrease,
  .button-apply {
    font-size: calc(1.5rem + ((1vw - 7.68px) * 1.3889));
  }
}

@media (min-width: 1920px) {
  .event-title {
    font-size: 7em;
  }
  .event-amount-comment {
    font-size: 8em;
  }
  .event-amount-initComment {
    font-size: 3em;
  }
  .event-amount-init {
    font-size: 5em;
  }
  .event-amount {
    font-size: 400px;
  }
  .button-increase,
  .button-decrease,
  .button-apply {
    font-size: 40px;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
